@using HiLand.Utility.Entity
@using HiLand.Framework.BusinessCore
@model BusinessUser
@{
    ViewBag.Title = "口令修改";
    this.Layout = null;

    string returnUrl = this.ViewBag.ReturnUrl;

    Guid userGuid = Guid.Empty;
    HiLand.Framework.BusinessCore.BusinessUser currentUser = Model;
    if (currentUser != null)
    {
        userGuid = currentUser.UserGuid;
    }
}
<h2>口令修改
</h2>
<div id="formContainer">
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td style="width: 150px;">新口令:
                </td>
                <td>@Html.TextBox("passwordNew")
                </td>
            </tr>
            <tr>
                <td>新口令确认:
                </td>
                <td>@Html.TextBox("passwordNewConfirm")
                </td>
            </tr>
        </table>
        @Html.Hidden("userGuid", userGuid) <br />
        <input type="button" id="submitButton" value="保存" class="btn btn-warning" /><a id="overlayClose" class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@returnUrl');
        });
    });
</script>
