<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="server=192.168.10.253;database=kingstudy_master_db;uid=sa;pwd=qingdao_HR;"/>-->
		<add name="ConnectionString" connectionString="server=.;database=KingStudy20121127;uid=sa;pwd=123456;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>