@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;
@{
    ViewBag.Title = "BatchEntering";
}

<h2>劳务人员基础信息批量导入</h2>
<style type="text/css">
    #main-content ul,
    #main-content ol {
        padding: 0 0 0 18px;
    }

        #main-content ul li {
            background: url() center left no-repeat;
            padding: 0px;
        }

    #main-content ol {
        padding: 0px;
    }

        #main-content ol li {
            list-style: none;
            padding: 0;
        }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", name = "myForm", id = "myForm" }))
{ 
    <table>
        <tr>
            <td>Excel标题行号:
            </td>
            <td class="fixClass">
                <input type="text" name="headerRowNumber" value="1" />
            </td>
            <td>请选择Excel文件</td>
            <td class="fixClass">
                <input type="file" name="fileSelector" /></td>
        </tr>
    </table>
    <input type="submit" name="submitButton" id="submitButton" rel="#EditDIV" class="modalInput btn btn-warning" value="导入" />
}
<div class="modal modalFix" id="EditDIV">
    数据导入中请等待
</div>
<p>（说明：导入数据的Excel模板，请到“设置/模板下载”内获取）</p>

<script type="text/javascript">
    $(document).ready(function () {
        $("#aLaborBasicSection").click();
        $("#aLaborBasicSection").addClass("current");
        $("#aBatchEntering").addClass("current");

        $(".modalInput").overlay({
            mask: {
                color: '#ebecff',
                loadSpeed: 200,
                opacity: 0.9
            },
            closeOnClick: false,
            onBeforeLoad: function () {
                return confirm("是否将数据导入系统（一旦导入无法撤回）?");
            }
        });

        $("#submitButton").click(function () {
            $("#myForm").submit();
        })
    });
</script>
