@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;

@{
    ViewBag.Title = "薪资信息查询条件选取";
    this.Layout = null;
}
<link rel="stylesheet" href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.17.custom.css")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.17.custom.min.js")"></script>
<h2>薪资校验时间区间选取</h2>
<style type="text/css">
    #main-content ul,
    #main-content ol {
        padding: 0 0 0 18px;
    }

        #main-content ul li {
            background: url() center left no-repeat;
            padding: 0px;
        }

    #main-content ol {
        padding: 0px;
    }

        #main-content ol li {
            list-style: none;
            padding: 0;
        }
</style>
<div id="formContainer">
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td>开始时间:
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.DateInput(Html, "JobingDateStart", string.Empty)
                </td>
            </tr>
            <tr>
                <td>结束时间</td>
                <td class="fixClass">
                    @HtmlHelperEx.DateInput(Html, "JobingDateEnd", string.Empty)
                </td>
            </tr>
        </table>
        <span>*如果未选择开始结束结束时间，系统则会自动对当前在职人员进行校验。</span>
        <input type="submit" id="submitButton" class="btn btn-warning" value="查询" />
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#aLaborSalarySection").click();
        $("#aLaborSalarySection").addClass("current");
        $("#aSalaryToBank").addClass("current");

        $("#submitButton").click(function () {
        });
    });
</script>
