@using HiLand.Utility.Enums;
@using HiLand.Framework.BusinessCore;
@using HiLand.Framework.BusinessCore.Enum;
@using HiLand.Framework.BusinessCore.BLL;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using XQYC.Business.Entity;
@using XQYC.Web.Control;

@{
    ViewBag.Title = "薪资信息查询条件选取";
}
<link rel="stylesheet" href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.17.custom.css")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.17.custom.min.js")"></script>
<h2>薪资信息查询条件选取</h2>
<style type="text/css">
    #main-content ul,
    #main-content ol {
        padding: 0 0 0 18px;
    }

        #main-content ul li {
            background: url() center left no-repeat;
            padding: 0px;
        }

    #main-content ol {
        padding: 0px;
    }

        #main-content ol li {
            list-style: none;
            padding: 0;
        }
</style>
<div id="formContainer">
    @using (Html.BeginForm())
    { 
        <table>
            <tr>
                <td>企业名称(*):
                </td>
                <td class="fixClass">
                    @HtmlHelperEx.XQYCAutoCompleteEnterprise(Html, "EnterpriseName") 
                </td>
                <td>薪资月份</td>
                <td class="fixClass">
                    @HtmlHelperEx.DateInput(Html, "SalaryMonth", string.Empty, "yyyy/mm")
                </td>
            </tr>
        </table>
        <input type="submit" id="submitButton" class="buttons" value="查询" />
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#aLaborSection").click();
        $("#aLaborSection").addClass("current");
        $("#aSalaryToBank").addClass("current");

        $("#submitButton").click(function () {
            var enterpriseGuid = $("#EnterpriseName_Value").val();
            if (enterpriseGuid == "") {
                alert("请先通过企业名称输入企业部分信息，然后在下拉列表中选择具体企业！");
                return false;
            }

            var salaryMonth = $("#SalaryMonth").val();
            if (salaryMonth == "") {
                alert("请先选择薪资月份！");
                return false;
            }
        });
    });
</script>
