@{
    ViewBag.Title = "Culture";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}

<article class="grid_10">
    <div class="wrapper indent-bot">
        <article class="grid_5 alpha">
            <div class="indent-left2">
                <figure class="p2"><img class="img-border" src="@Url.Content("~/Content/images/culture-xinsheng.png")" alt="技术支持" /></figure>
                <h4 class="p1">以新胜</h4>
                <ul>
                    <li>以客户为中心进行创新、对工作进行持续改进</li>
                </ul>
                
            </div>
        </article>
        <article class="grid_5 omega">
            <div class="indent-left2">
                <figure class="p2"><img class="img-border" src="@Url.Content("~/Content/images/culture-decun.png")" alt="技术支持" /></figure>
                <h4 class="p1">以德存</h4>
                <ul>
                    <li>尽职尽责精诚协作 以务实、诚信的态度、高效率的为客户提供有价值的服务</li>
                </ul>
            </div>
        </article>

        <article class="grid_5 alpha">
            <div class="indent-left2">
                <figure class="p2"><img class="img-border" src="@Url.Content("~/Content/images/culture-zhenghe.png")" alt="商务联系" /></figure>
                <h4 class="p1">以正合</h4>
                <ul>
                    <li>坦诚、开放、正直、包容、实现客户、员工、企业的共赢</li>
                </ul>
            </div>
        </article>
        <article class="grid_5 omega">
            <div class="indent-left2">
                <figure class="p2"><img class="img-border" src="@Url.Content("~/Content/images/culture-zhiheng.png")" alt="技术支持" /></figure>
                <h4 class="p1">以质恒</h4>
                <ul>
                    <li>将质量融入员工血脉、把握细节、注重效果、追求卓越</li>
                </ul>
            </div>
        </article>
    </div>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuContactUs").addClass("active");
        $(".vmenu #menuCulture").addClass("active");
    });
</script>


