@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}
<article class="grid_10">
    <img class="img-border p1" src="@Url.Content("~/Content/images/sea.jpg")" alt="Alternate Text" />
    <div class="p1">海澜网络科技有限公司首先因青岛的海而得名。希望把我们的事业做地像大海一样辽阔。
    另外，我们很多时候经常将社会的信息化比做一个网络浪潮，那么我们也希望我们的团队能够在这次浪潮中掀起更大的波澜，
    推动整个社会前进的步伐。</div>
    <div class="p1">同时海澜的名字还来源于英文的Hi-Land的音译，Hi-Land就是高地的意思，
    我们也希望海澜网络科技有限公司能够一直站在信息科技的最前沿。用我们的纯熟的技艺，
    为关心支持我们的客户提供无间隙的服务。</div>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuContactUs").addClass("active");
        $(".vmenu #menuAbout").addClass("active");
    });
</script>

