<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<sectionGroup name="permissionValidate">
			<section name="generalValidate" type="HiLand.Utility4.MVC.SectionHandler.PermissionValidateSectionHandler,HiLand.Utility4"/>
		</sectionGroup>
		<section name="systemTaskSection" type="HiLand.Utility.Setting.SectionHandler.SystemTaskSectionHandler,HiLand.Utility"/>
		<section name="permissionData" type="HiLand.Utility.Setting.SectionHandler.PermissionDataSectionHandler,HiLand.Utility"/>
		<section name="laborBasicDataMap" type="System.Configuration.NameValueSectionHandler"/>
		<section name="laborSalaryItemMap" type="System.Configuration.NameValueSectionHandler"/>
		<section name="bankCardItemMap" type="System.Configuration.NameValueSectionHandler"/>
		<section name="SalaryTaxSection" type="HiLand.Utility.Setting.SectionHandler.SalaryTaxSectionHandler,HiLand.Utility"/>
	</configSections>
	<connectionStrings>
		<add name="ConnectionString" connectionString="data source=.;database=KingStudy20121127;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<!--是否在控件上进行权限控制（当前仅针对自定义的MVC控件）-->
		<add key="isUsePermissionOnControl" value="true"/>
		<!--每列表页面显示的信息条目数量,如果没有设置则会读取数据库表GeneralBasicSetting的CountPerPage信息-->
		<!--<add key="CountPerPage" value="10"/>-->
		<!--管理员创建用户时，用户的初始密码-->
		<add key="InitialUserPassword" value="123"/>
		<!--系统任务缺省的执行时间为每天凌晨0点1分，某个具体任务执行的时间可以在systemTaskSection内单独配置-->
		<add key="taskExcuteHour" value="0"/>
		<add key="taskExcuteMinute" value="1"/>
		<!--当前运行的程序是开发调试模式还是正式环境运行模式-->
		<add key="debugMode" value="false"/>
	</appSettings>
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Forms">
			<forms loginUrl="~/UserCenter/Home/Index" defaultUrl="~/" timeout="2880"/>
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>
	<SalaryTaxSection taxThreshold="3500">
		<add name="Level0" min="-9999999999" max="0" rate="0" expressCalcValue="0" />
		<add name="Level1" min="0" max="1500" rate="0.03" expressCalcValue="0" />
		<add name="Level2" min="1500" max="4500" rate="0.1" expressCalcValue="105" />
		<add name="Level3" min="4500" max="9000" rate="0.2" expressCalcValue="555" />
		<add name="Level4" min="9000" max="35000" rate="0.25" expressCalcValue="1005" />
		<add name="Level5" min="35000" max="55000" rate="0.3" expressCalcValue="2755" />
		<add name="Level6" min="55000" max="80000" rate="0.35" expressCalcValue="5505" />
		<add name="Level7" min="80000" max="9999999999" rate="0.45" expressCalcValue="13505" />
	</SalaryTaxSection>
	<bankCardItemMap>
		<!--其中key为Excel模板中的名称，value为数据库中保存的银行卡项名称。通过这种方式建立在他们之间建立一个映射。-->
		<add key="姓名" value="UserNameCN"/>
		<add key="户名" value="UserNameCN"/>
		<add key="身份证号" value="UserCardID"/>
		<add key="证件号码" value="UserCardID"/>
		<add key="卡号" value="AccountNumber"/>
		<add key="公司" value="CompanyName"/>
	</bankCardItemMap>
	<laborSalaryItemMap>
		<!--其中key为Excel模板中的名称，value为数据库中保存的工资项名称。通过这种方式建立在他们之间建立一个映射。-->
		<add key="姓名" value="UserNameCN"/>
		<add key="工号" value="LaborCode"/>
		<add key="企业常规费用" value="EnterpriseMixCost"/>
		<add key="个人常规费用" value="PersonMixCost"/>
		<add key="个人保险" value="PersonInsurance" />
		<add key="个人公积金" value="PersonReserveFund" />
		<add key="补扣个人保险" value="PersonInsuranceAdditional" />
		<add key="扣保险滞纳金" value="PersonInsuranceOverdueFee" />
		<add key="扣其他(借款类)" value="PersonBorrow" />
	</laborSalaryItemMap>
	<laborBasicDataMap>
		<!--其中key为Excel模板中的名称，value为Labor实体属性的名称。通过这种方式建立在他们之间建立一个映射。-->
		<add key="姓名" value="UserNameCN"/>
		<add key="性别" value="UserSex"/>
		<add key="年龄" value="UserAge"/>
		<add key="出生日期" value="UserBirthday"/>
		<add key="生日" value="UserBirthday"/>
		<add key="身高" value="UserHeight"/>
		<add key="学历" value="UserEducationalBackground"/>
		<add key="民族" value="UserNation"/>
		<add key="籍贯" value="NativePlace"/>
		<add key="户口类型" value="HouseHoldType"/>
		<add key="联系电话" value="UserMobileNO"/>
		<add key="家庭电话" value="HomeTelephone"/>
		<add key="工作技能" value="WorkSkill"/>
		<add key="所持证件" value="WorkSkillPaper"/>
		<add key="工作状况" value="WorkSituation"/>
		<add key="上份工作" value="PreWorkSituation"/>
		<add key="现希望从事工作" value="HopeWorkSituation"/>
		<add key="希望工资待遇" value="HopeWorkSalary"/>
		<add key="信息来源" value="InformationComeFrom"/>
		<add key="婚姻状况" value="MaritalStatus"/>
		<add key="身份证" value="UserCardID"/>
		<add key="身份证号码" value="UserCardID"/>
		<add key="身份证地址" value="IDCardPlace"/>
		<add key="紧急联系人" value="UrgentLinkMan"/>
		<add key="紧急联系人电话" value="UrgentTelephone"/>
		<add key="紧急联系人关系" value="UrgentRelationship"/>
		<add key="毕业学校" value="UserEducationalSchool"/>
		<add key="社保卡号" value="SocialSecurityNumber"/>
		<add key="信息员" value="InformationBrokerUserName"/>
		<add key="业务人员" value="BusinessUserName"/>
		<add key="业务员" value="BusinessUserName"/>
		<add key="信息提供人员" value="ProviderUserName"/>
		<add key="推荐人员" value="RecommendUserName"/>
		<add key="财务人员" value="FinanceUserName"/>
		<add key="客服人员" value="ServiceUserName"/>
		<add key="安置人员" value="SettleUserName"/>
		<add key="备注1" value="Memo1"/>
		<add key="备注2" value="Memo2"/>
		<add key="备注3" value="Memo3"/>
		<add key="备注4" value="Memo4"/>
		<add key="备注5" value="Memo5"/>
	</laborBasicDataMap>
	<systemTaskSection>
		<dailyTasks>
			<!--addonInfo使用key1:value1||key2:value2的方式保存信息-->
			<!--提醒任务-->
			<add name="BirthdayRemindTaskOfEmployee" isUse="true" type="XQYC.Web.Models.Jobs.BirthdayRemindJobOfEmployee,XQYC.Web" excuteHour="0" excuteMinute="1" addon="aheadDays:3||receiveRoleNames:EmployeeBirthdayRemindReceiver" />
			<add name="BirthdayRemindTaskOfLabor" isUse="true" type="XQYC.Web.Models.Jobs.BirthdayRemindJobOfLabor,XQYC.Web" excuteHour="0" excuteMinute="1" addon="aheadDays:3" />
			<add name="ContractRemindTaskOfEnterprise" isUse="true" type="XQYC.Web.Models.Jobs.ContractRemindJobOfEnterprise,XQYC.Web" excuteHour="0" excuteMinute="1" addon="aheadDays:7"/>
			<add name="ContractRemindTaskOfLabor" isUse="true" type="XQYC.Web.Models.Jobs.ContractRemindJobOfLabor,XQYC.Web" excuteHour="0" excuteMinute="1" addon="aheadDays:7"/>

			<!--资源解锁任务-->
			<add name="ResourceControlJobForLabor" isUse="true" type="XQYC.Web.Models.Jobs.ResourceControlJobForLabor,XQYC.Web" excuteHour="0" excuteMinute="1" addon="fromCreatedToSignedProtectedDays:3||fromUpdatedToSignedProtectedDays:1||fromContractEndToResignedProtectedDays:7"/>
			<add name="ResourceControlJobForEnterprise" isUse="true" type="XQYC.Web.Models.Jobs.ResourceControlJobForEnterprise,XQYC.Web" excuteHour="0" excuteMinute="1" addon="fromCreatedToSignedProtectedDays:3||fromUpdatedToSignedProtectedDays:1||fromContractEndToResignedProtectedDays:7"/>
			<add name="ResourceControlJobForInformationBroker" isUse="true" type="XQYC.Web.Models.Jobs.ResourceControlJobForInformationBroker,XQYC.Web" excuteHour="0" excuteMinute="1" addon="fromCreatedToSignedProtectedDays:3||fromUpdatedToSignedProtectedDays:1||fromContractEndToResignedProtectedDays:7"/>
		</dailyTasks>
	</systemTaskSection>
	<permissionData>
		<application guid="6E3C9CA4-3288-47E8-B851-42F040826060" name="数据库管理系统">
			<module guid="20167DBC-6EE0-43BC-B8F6-38293ADDD8B9" name="人员管理模块">
				<subModule guid="897EAC61-4C7D-4CCE-A461-1F8EB0005210" name="劳务人员信息" area="" controller="Labor"/>
				<subModule guid="6EBB209E-E112-4530-9FF4-70380CCB6DDC" name="信息员信息" area="" controller="InformationBroker"/>
			</module>
			<module guid="C7B5524F-661E-4D5E-932E-346875BE0857" name="企业管理模块">
				<subModule guid="49CB6557-CF3A-4FE8-A3AC-E69E1499D2FA" name="企业信息" area="" controller="Enterprise"/>
			</module>
		</application>
	</permissionData>
	<permissionValidate>
		<generalValidate>
			<application guid="541F8657-938D-48CF-B4B2-348C6065F723" name="数据库管理系统">
				<module guid="564D2011-158E-4BEB-BE50-68C79DA03EDC" name="系统配置模块">
					<subModule guid="45100379-146D-4ABE-BCB4-E2AA9444E72D" name="仪表盘" isVisible="false">
						<operation action="Index" controller="Home" area="" name="Index" text="仪表盘展示" value="4"/>
					</subModule>
					<subModule guid="D8DD50B0-85EE-4FFF-B82F-8F14F8D476CF" name="参数设置">
						<operation action="BasicSettingList" controller="System" area="" name="BasicSettingList" text="列表" value="1"/>
						<operation action="BasicSetting" controller="System" area="" name="BasicSetting" text="添加/修改" value="2"/>
					</subModule>
					<subModule guid="1B4199C4-7AAE-4FDF-8C2E-522174BE33C6" name="角色管理">
						<operation action="Index" controller="Role" area="" name="Index" text="列表" value="1"/>
						<operation action="Item" controller="Role" area="" name="Item" text="添加/修改" value="2"/>
						<operation action="Permission" controller="Role" area="" name="Permission" text="权限" value="4"/>
					</subModule>
					<subModule guid="1C7276D6-9C68-469A-995A-938C3DF2CD47" name="费用公式配置">
						<operation action="Index" controller="CostFormular" area="" name="Index" text="列表" value="1"/>
						<operation action="Item" controller="CostFormular" area="" name="Item" text="添加/修改" value="2"/>
					</subModule>
				</module>
				<module guid="EDCA19F1-C471-4342-A9FB-52DD7F605A83" name="员工管理模块">
					<subModule guid="53FCE9E1-7C6D-4F7C-93C2-6F6672960187" name="部门信息">
						<operation action="Index" controller="Department" area="" name="Index" text="列表" value="1"/>
						<operation action="Item" controller="Department" area="" name="Item" text="添加/修改" value="2"/>
						<operation action="Permission" controller="Department" area="" name="Permission" text="权限" value="4"/>
					</subModule>
					<subModule guid="97004E95-0219-46A6-8409-0264446CCCE8" name="员工信息">
						<operation action="Index" controller="Employee" area="" name="List" text="列表" value="1"/>
						<operation action="Item" controller="Employee" area="" name="Item" text="添加/修改" value="2"/>
						<operation action="Password" controller="Employee" area="" name="Password" text="口令" value="4"/>
						<operation action="RoleSelector" controller="Employee" area="" name="Selector" text="角色" value="8"/>
						<operation action="PermissionAllow" controller="Employee" area="" name="PermissionAllow" text="允许权限" value="16"/>
						<operation action="PermissionDeny" controller="Employee" area="" name="PermissionDeny" text="拒绝权限" value="32"/>
					</subModule>
				</module>
				<module guid="E2839F48-5A60-4C8E-9994-CAB465298140" name="劳务人员基本信息管理模块">
					<subModule guid="87773E95-0219-46A6-8409-0264446CCCE8" name="劳务人员基本信息">
						<operation action="Index" controller="Labor" area="" name="Index" text="列表" value="2"/>
						<operation action="Item" controller="Labor" area="" name="Item" text="添加/修改" value="4"/>
						<operation action="Password" controller="Labor" area="" name="Password" text="口令" value="8"/>
						<operation action="ContractList" controller="Labor" area="" name="ContractList" text="合同列表" value="16"/>
						<operation action="ContractItem" controller="Labor" area="" name="ContractItem" text="合同添加/修改" value="32"/>
						<operation action="BatchEntering" controller="Labor" area="" name="BatchEntering" text="人员批量导入" value="64"/>
						<operation action="BatchSettleWork" controller="Labor" area="" name="BatchSettleWork" text="批量派工" value="128"/>
						<operation action="BankCardList" controller="Labor" area="" name="BankCardList" text="银行账户列表" value="256"/>
						<operation action="BankCardItem" controller="Labor" area="" name="BankCardItem" text="银行账户添加/修改" value="512"/>
					</subModule>
					<subModule guid="70646EF3-D68D-485A-AB71-D505D58C8D94" name="劳务人员合同查询">
						<operation action="ContractQueryList" controller="Labor" area="" name="ContractQueryList" text="劳务人员合同查询" value="1"/>
					</subModule>
				</module>
				<module guid="8F30EA8B-E5BC-4222-AF8C-E20E34554785" name="劳务人员财务信息管理模块">
					<subModule guid="71464350-C0DB-48AC-8A97-6F75313B2E36" name="劳务人员薪资信息">
						<operation action="SalaryListPreSelector" controller="Labor" area="" name="SalaryListPreSelector" text="薪资选择器" value="1"/>
						<operation action="SalaryList" controller="Labor" area="" name="SalaryList" text="列表" value="2"/>
						<operation action="SalaryItem" controller="Labor" area="" name="SalaryItem" text="添加/修改" value="4"/>
						<operation action="SalaryListCheck" controller="Labor" area="" name="SalaryListCheck" text="应付薪资人员校验" value="8"/>
						<operation action="SalaryBatch" controller="Labor" area="" name="SalaryBatch" text="薪资批量导入" value="16"/>
						<operation action="BankCardBatch" controller="Labor" area="" name="BankCardBatch" text="银行批量开卡" value="32"/>
						<operation action="SalaryToBank" controller="Labor" area="" name="SalaryToBank" text="银行报盘" value="64"/>
					</subModule>
				</module>
				<module guid="17C341C6-42D6-4962-A535-860206D68B52" name="信息员管理模块">
					<subModule guid="693597AB-A280-4BD6-9B80-D38EF5DFD2E0" name="信息员信息">
						<operation action="Index" controller="InformationBroker" area="" name="Index" text="列表" value="2"/>
						<operation action="Item" controller="InformationBroker" area="" name="Item" text="添加/修改" value="4"/>
						<operation action="Password" controller="InformationBroker" area="" name="Password" text="口令" value="8"/>
					</subModule>
				</module>
				<module guid="708CD505-5BA3-4A2F-87B8-B8F8D1433AB9" name="企业客户管理模块">
					<subModule guid="6013E432-FADE-462A-A825-DE4EF9BE6EA5" name="企业客户基本信息">
						<operation action="Index" controller="Enterprise" area="" name="Index" text="列表" value="1"/>
						<operation action="Item" controller="Enterprise" area="" name="Item" text="添加/修改" value="2"/>
						<operation action="UserList" controller="Enterprise" area="" name="UserList" text="企业用户列表" value="16"/>
						<operation action="UserItem" controller="Enterprise" area="" name="UserItem" text="企业用户添加/修改" value="32"/>
						<operation action="UserPassword" controller="Enterprise" area="" name="UserPassword" text="企业用户口令" value="64"/>
						<operation action="ContractList" controller="Enterprise" area="" name="ContractList" text="企业合同列表" value="128"/>
						<operation action="ContractItem" controller="Enterprise" area="" name="ContractItem" text="企业合同添加/修改" value="256"/>
						<operation action="TrackerList" controller="Enterprise" area="" name="TrackerList" text="企业回访列表" value="512"/>
						<operation action="TrackerItem" controller="Enterprise" area="" name="TrackerItem" text="企业回访添加/修改" value="1024"/>
						<operation action="BoothList" controller="Enterprise" area="" name="BoothList" text="企业摊位列表" value="2048"/>
						<operation action="BoothItem" controller="Enterprise" area="" name="BoothItem" text="企业摊位添加/修改" value="4096"/>
						<operation action="JobList" controller="Enterprise" area="" name="JobList" text="企业招聘简章列表" value="8192"/>
						<operation action="JobItem" controller="Enterprise" area="" name="JobItem" text="企业招聘简章添加/修改" value="16384"/>
					</subModule>
					<subModule guid="AFA547F8-2070-4700-8A9A-70ED0AC87E61" name="企业客户合同与合作方式">
						<operation action="ContractList" controller="Enterprise" area="" name="ContractList" text="合同列表" value="4"/>
						<operation action="ContractItem" controller="Enterprise" area="" name="ContractItem" text="合同添加/修改" value="8"/>
						<operation action="ServiceList" controller="Enterprise" area="" name="ServiceList" text="合作方式列表" value="128"/>
						<operation action="ServiceItem" controller="Enterprise" area="" name="ServiceItem" text="合作方式添加/修改" value="256"/>
					</subModule>
					<subModule guid="C47826A9-B00B-49DF-88C7-56D2DF0627A5" name="企业招聘简章查询">
						<operation action="JobQueryList" controller="Enterprise" area="" name="JobQueryList" text="列表" value="1"/>
					</subModule>
					<subModule guid="E3D6934D-FBC6-4E2B-8C3F-41A17C2688DB" name="企业合同查询">
						<operation action="ContractQueryList" controller="Enterprise" area="" name="ContractQueryList" text="列表" value="1"/>
					</subModule>
					<subModule guid="65322AF5-2B35-4F45-A201-0485DCDC083A" name="企业摊位查询">
						<operation action="BoothQueryList" controller="Enterprise" area="" name="BoothQueryList" text="列表" value="1"/>
					</subModule>
					<subModule guid="4F41C196-1643-40D9-8EF4-F5860FBA8426" name="劳务派遣企业信息">
						<operation action="IndexLaborDispatch" controller="Enterprise" area="" name="IndexLaborDispatch" text="列表" value="1"/>
					</subModule>
					<subModule guid="4451F09F-91BB-4EA8-837B-6AE7149A1049" name="代理招聘企业信息">
						<operation action="IndexLaborHireBroke" controller="Enterprise" area="" name="IndexLaborHireBroke" text="列表" value="1"/>
					</subModule>
					<subModule guid="C86524DB-F6EE-4B57-9F0D-8B55C1BB14FF" name="人才会场企业信息">
						<operation action="IndexLaborJobFair" controller="Enterprise" area="" name="IndexLaborJobFair" text="列表" value="1"/>
					</subModule>
				</module>
			</application>
		</generalValidate>
	</permissionValidate>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>