<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HiGeneralDALDLLName" value="HiLand.General"/>
    <add key="HiGeneralDALNameSpace" value="HiLand.General.DALSqlite"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=addb.db3;Version=3;Cache Size=3000;"/>
  </connectionStrings>
</configuration>