@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}
<article class="grid_10">
        <div class="p1 pIndent">我们的客户既包括跨国公司，也包括诸多中小型外商投资企业、民营企业；我们服务的客户包括制造业、进出口贸易、高科技、服务业等。</div>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuContactUs").addClass("active");
        $(".vmenu #menuCase").addClass("active");
    });
</script>

