@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}
<article class="grid_10">
    <div class="wrapper indent-bot">
        <article class="grid_5 alpha">
            <div class="indent-left2">
                <div class="p2"><img class="img-border" src="@Url.Content("~/Content/images/contact-support.png")" alt="商务联系" /></div>
                <h4 class="p1">商务顾问</h4>
                <ul>
                    <li>联系人:王先生</li>
                    <li>电话:18661832158</li>
                    <li>QQ:1505041690</li>
                    <li>邮件:1505041690@qq.com</li>
                    <li>地址:李沧区枣园路26号百通大厦701室</li>
                </ul>
            </div>
        </article>
        <article class="grid_5 omega">
            <div class="indent-left2">
                <div class="p2"><img class="img-border" src="@Url.Content("~/Content/images/contact-tech.png")" alt="技术支持" /></div>
                <h4 class="p1">业务顾问</h4>
                <ul>
                    <li>联系人:彭先生</li>
                    <li>电话:18669796546</li>
                    <li>QQ:2295147600</li>
                    <li>邮件:2295147600@qq.com</li>
                    <li>地址:李沧区枣园路26号百通大厦701室</li>
                </ul>
            </div>
        </article>
    </div>
    <div class="wrapper indent-bot">
        <article class="grid_5 alpha">
            <div class="indent-left2">
                <div class="p2"><img class="img-border" src="@Url.Content("~/Content/images/contact-support.png")" alt="商务联系" /></div>
                <h4 class="p1">财务顾问</h4>
                <ul>
                    <li>联系人:纪小姐</li>
                    <li>电话:0532-68075765</li>
                    <li>QQ:2398867833</li>
                    <li>邮件:2398867833@qq.com</li>
                    <li>地址:李沧区枣园路26号百通大厦701室</li>
                </ul>
            </div>
        </article>
        <article class="grid_5 omega">
            <div class="indent-left2">
                
            </div>
        </article>
    </div>
</article>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuContactUs").addClass("active");
        $(".vmenu #menuContact").addClass("active");
    });
</script>
