@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}
<article class="grid_10">
    <img class="img-border" style="width:778px;" src="@Url.Content("~/Content/images/sea.jpg")" alt="关于我们" />
    <div class="p1 pIndent">青岛麦克斯商务管理有限公司李沧分公司是一间是按照国家工商总局《企业代理登记机构管理暂行办法》的要求和条件并在青岛市工商局代理中心备案并经青岛市工商局批准设立的专业从事工商注册、投资咨询、记帐代理、产权交易的服务性机构。</div>
    <div class="p1 pIndent">公司成立伊始，麦克斯人高举“解决之道，来自麦克斯”的服务理念，提出为客户提供“伙伴式服务”的口号，努力为广大中小企业的发展提供坚实的基础。麦克斯致力于为海内外投资、创业者及快速发展中的中小型企业提供一流的以财务、税务、人力资源咨询代理为核心的专业商务机构。</div>
    <div class="p1 pIndent">人类社会进入二十一世纪后，科技的高速发展推动了整个社会的快速进步，同时也使社会分工逐步细化。高额的运营成本使很多企业意识到将自己的部分业务或服务性事务委托专业公司处理，于是“合作与共赢”成为这个时代的主题。基于这样的时代背景，麦克斯人从幕后走到台前，利用自己十余年的专业经验和丰富的理论知识立志为广大中小企业朋友提供优质高效的中介服务。</div>
    <div class="p1 pIndent">麦克斯的专业服务正可令客户选择最合适的方式、最快捷的手段注册公司，注册商标，并协助管理其商务运作，从而使客户能以最经济的方式达到其理想的业务开拓目标。</div>
    <div class="p1 pIndent">我们的宗旨是建立一整套可行的"交钥匙式"解决方案，为您在境内或境外建立起公司并获得公司所需的营业执照、批文及其他法定登记。我们拥有综合能力和专业水平过硬的团队，能用最经济的花费为您提供最有效、可行、优质的注册服务。</div>
    <div class="p1 pIndent">创业的相关议题往往成为困扰经营决策者们或者个人投资者、创业者的最为头疼的问题。公司致力于通过研究、传播先进的创业理念和管理技术，提升创业者，完善创业者的组织，实现创业者组织的可持续发展，推动越来越多的小型企业或者个人在国内外的成功创业，促进社会共同富裕！麦克斯人致立于打造成为青岛地区乃至山东省顶尖的综合性服务品牌。</div>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuContactUs").addClass("active");
        $(".vmenu #menuAbout").addClass("active");
    });
</script>

