@using HiLand.General.Entity;
@model BasicSettingEntity
@{
    ViewBag.Title = "Basic Setting";
    this.Layout = null;
}
<div id="formContainer">
    @using (Html.BeginForm())
    { 
        <span>名称:@Model.DisplayName 【@Model.SettingKey】</span>
        <br />
        <span>设置项数值:</span>@Html.TextBoxFor(m=>m.SettingValue)<br />
        <span>设置项序号:</span>@Html.TextBoxFor(m=>m.OrderNumber)
        <input  type="hidden" name="SettingID" value="@Model.SettingID"/>
        <input type="button" id="submitButton" value="Save" class="btn btn-warning" /><a id="overlayClose" class="overlayClose" title="亦可敲击'ESC'键关闭本弹窗"></a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@Url.Action("BasicSettingList")');
        });
    });
</script>
