@using HiLand.Utility.Entity

@{
    ViewBag.Title = "软件版本信息";

}
<h2>模板下载
</h2>
<table>
    <tr>
        <td style="width: 250px;">劳务人员批量导入模板:
        </td>
        <td><a href="@Url.Content("~/DownFiles/Templet/劳务人员批量导入模板.xls")" title="劳务人员批量导入模板">下载</a>
        </td>
    </tr>
    <tr>
        <td style="width: 250px;">劳务人员工资导入模板:
        </td>
        <td><a href="@Url.Content("~/DownFiles/Templet/劳务人员工资导入模板.xls")" title="劳务人员工资导入模板">下载</a>
        </td>
    </tr>
    <tr>
        <td style="width: 250px;">银行开卡数据导入模板:
        </td>
        <td><a href="@Url.Content("~/DownFiles/Templet/银行开卡数据导入模板.xls")" title="银行开卡数据导入模板">下载</a>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#aSettingSection").click();
        $("#aSettingSection").addClass("current");
        $("#aTempletList").addClass("current");
    });
</script>
