@using HiLand.General.Entity;
@model BasicSettingEntity
@{
    ViewBag.Title = "Basic Setting";
    this.Layout = null;
}
<div id="formContainer">
    @using (Html.BeginForm())
    { 
        <span>Display Name:@Model.DisplayName</span>
        <br />
        <span>Setting Value:</span>
        <input type="text" name="SettingValue" value="@Model.SettingValue" />
        <input  type="hidden" name="SettingID" value="@Model.SettingID"/>
        <input type="button" id="submitButton" value="Save" class="buttons" />
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@Url.Action("BasicSettingList")');
        });
    });
</script>
