@{
    ViewBag.Title = "外贸退税";
    Layout = "~/Views/Finance/_Layout.cshtml";
}

<article class="grid_10">
    <h3>外贸退税</h3>
        <pre>

        • 办理退税登记，变更退税登记。
        • 退税具体业务：审核单证、录入数据、预审、排查疑点、正式申报、打印报表、装订成档、与退税局衔接，通过申报、两部复审，生成退税款，填报退税申请书，计会科复审，局长签字，退税转交财政，退税款打入帐户。
        • 办理涉税证明。
        • 接受退税咨询。

        我司代理退税的优点：
        • 节约成本：无需购买退税专用系统，可用我司退税专用代理申报系统。并享受免费变更及年检退税登记证。
        • 节省时间：只需备齐单证，不必往返于企业于退税局之间，不必整理录入繁琐数据、装订各类报表可减少工作程序。
        • 加快资金周转：通过专业代理退税，数据录入精确，退税款到帐快，会力争企业单证交叉信息正常，尽快生成税款，及早收到退税款。
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuFinanceBroker").addClass("active");
        $(".vmenu #menuExportTaxRebate").addClass("active");
    });
</script>
