@{
    ViewBag.Title = "财务代理";
    Layout = "~/Views/Finance/_Layout.cshtml";
}

<article class="grid_10">
    <h3>财务代理</h3>
        <pre>

        一、代理记帐的服务内容
        1、代理记帐、纳税申报
        2、整理、清理以往账目
        3、登记会计账簿
        4、编制会计报表
        5、填制纳税申报表并申报
        6、协助办理审计业务

        二、代理记帐服务方式代理记帐服务方式为分客户送达和上门服务二种，其中：客户送达是我公司人员到客户处拿取原始凭证，由我公司进行记帐工作；上门服务是我公司派指定的会计工作。工商登记，代理记帐，税务报告新转来的客户，首月免收记帐费。
        三、代理记帐服务目的中小企业选择代理记帐能够在降低企业开支节约会计成本的同时，享受高水平和规范高会计工作效率。所以代理记帐有利于加强企业的财务基础建设和提高整体管理水平，维护企业的合法。
        四、代理记帐服务人员我们具有一批经验丰富的代理记帐人员，并根据企业的具体情况派出相应业务水平的，本公司签定的服务合同其内绝不中断记帐服务。
        五、代理记帐的原则遵守国家法律法规，符合财务会计制度，保护客户合法权益，保守客户商业秘密。
        六、代理记帐的优点1、会计工作不会中断；2、纳税申报及时准确；3、会计人员的品德、水平过硬；4、无需考虑会计人员的住房、医疗、社会保险以及迁户、招调等问题


        我们本着诚实守信、勤劳敬业的工作态度、为企业提供优价高效的工商注册登记、代理记账、历史账务清理、税务疑难解答。

        我公司本着“以诚为本、精打细算、专业服务、共创双赢”的宗旨为客户提供企业一条龙的创业财税服务.价格合理，专业高效，欢迎光临！
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuFinanceBroker").addClass("active");
        $(".vmenu #menuFinanceManagement").addClass("active");
    });
</script>
