@{
    ViewBag.Title = "独立内审";
    Layout = "~/Views/Finance/_Layout.cshtml";
}

<article class="grid_10">
    <h3>独立内审</h3>
        <pre>

        内部审计是由部门、单位内设的审计机构从内部对其财务收支的真实性、合法性和效益性进行的审计监督。内部审计具有不同于外部审计的特征，并在经济发展中发挥着独特的作用。 
        一、内部审计的特征

          与外部审计相比，内部审计具有以下几个特征：

          (一)服务的内向性

          内部审计的目的在于促进本部门、本单位经营管理和经济效益的提高，因而内部审计既是本单位的审计监督者，也是根据单位管理要求提供专门咨询服务者。服务的内向性是内部审计的基本特征。内部审计一般在本单位主要负责人领导下进行工作，只向本单位领导负责。

          (二)工作的相对独立性

          内部审计同外部审计一样，都必须具有独立性，在审计过程中必须根据国家法律法规及有关财务会计制度，独立地检查、评价本部门、本单位及所属各部门、各单位的财务收支及与此相关的经营管理活动，维护国家利益。另一方面，由于内部审计机构是部门、单位内设的机构，内部审计人员是本单位的职工，这就使内部审计的独立性受到很大的制约。特别是遇到国家利益与部门、单位利益冲突的情况下，内部审计机构的独立决策可能会受到本单位利益的限制。

          (三)审计程序的相对简化性

          内部审计的程序主要包括规划、实施、终结和后续审计四个阶段。由于内部审计机构对本部门、本单位的情况比较熟悉，在具体实施审计过程中，各个阶段的工作都大为简化。一是规划阶段中的许多工作，往往可以结合日常工作进行，从而使规划工作量得以减少，时间也大为缩短。审计项目计划通常由内部审计机构根据上级部门和本部门、单位的具体情况拟定，并报本部门、单位领导批准后实施。二是内部审计的实施过程，针对性比较强，许多资料和调查都依赖内部审计人员的平时积累。三是内部审计机构提出审计报告后，通常由所在部门和单位出具审计意见书或作出审计决定。四是被审计单位对审计意见书和审计决定如有异议，可以向内部审计机构所在部门、单位负责人提出。

          (四)审查范围的广泛性

          内部审计主要是为单位经营管理服务的，这就决定了内部审计的范围必然要涉及到单位经济活动的方方面面。内部审计既可进行内部财务审计和内部经济效益审计，又可进行事后审计和事前审计；既可进行防护性审计，又可进行建设性审计。一般应做到，本部门、本单位的领导要求审查什么，内部审计人员就应审查什么。

          (五)对内部控制进行审计

          内部审计是内部控制的重要组成部分，内部控制又是内部审计的主要内容。通过对本部门、本单位的内部控制制度及经营管理情况的检查，总结经验，找出差距，为本部门、本单位改进经营管理、完善内部控制制度服务，是内部审计的基本职能，体现了内部审计“对内部控制进行审计”的特征。

          (六)审计实施的及时性

          内部审计机构是本部门、本单位的一个部门，内部审计人员是本部门、本单位的职工，因而可根据需要随时对本部门、本单位的问题进行审查。一是可以根据需要，简化审计程序，在本部门、本单位负责人的领导下，及时开展审计；二是可以通过日常了解，及时发现管理中存在的问题或问题的苗头，并且可以迅速与有关职能部门沟通或向本部门、本单位最高管理者反映，以便采取措施，纠正已经出现和可能出现的问题。

        二、内部审计的作用

          内部审计的作用是随着内部审计的内容、范围、职能的发展而逐渐扩大的。在社会主义市场经济条件下，内部审计具有双重任务：一方面要对部门、单位的经营活动进行监督，促使其合法合规；另一方面要对部门、单位的领导负责，促进经营管理状况的改善、经济效益的提高。具体地说，内部审计的作用主要包括以下几个方面：

          (一)监督各项制度、计划的贯彻情况，为本部门、本单位领导经营决策提供依据

          现代内部审计已经从一般的查错防弊，发展到对内部控制和经营管理情况的审计，涉及到生产、经营和管理的各个环节。内部审计不仅可以确定本部门、本单位的活动是否符合国家的经济方针、政策和有关法令，又可以确定部门内部的各项制度、计划是否得到落实，是否已达到预期的目标和要求。通过内部审计所搜集到的信息，如生产规模、产品品种、质量、销售市场等，或发现的某些具有倾向性、苗头性、普遍性的问题，都是领导作出经营决策的重要依据。

          (二)揭示经营管理薄弱环节，促进部门、单位健全自我约束机制

          在社会主义市场经济条件下，各部门、单位的活动不仅要受到国家财经政策、财政制度和法令的制约，而且要遵守本部门、本单位内部控制制度的规定。内部审计机构可以相对独立地对本部门、单位内部控制情况进行监督、检查，客观地反映实际情况，并通过这种自我约束性的检查，促进本部门、本单位建立、健全内部控制制度。

          (三)促进本部门、本单位改进工作或生产，提高经济效益

          内部审计通过对经济活动全过程的审查，对有关经济指标的对比分析，揭示差异，分析差异形成的因素，评价经营业绩，总结经济活动的规律，从中揭示未被充分利用的人财物的内部潜力，并提出改进措施，可以极大地促进经济效益的提高。

          (四)监督受托经济责任的履行情况，以维护本部门、本单位的合法经济权益

          同外部审计一样，所有权与经营权的分离是内部审计产生的前提，确定各个受托责任者经济责任履行情况也是内部审计的主要任务。内部审计通过查明各责任者是否完成了应负经济责任的各项指标(诸如利润、产值、品种、质量等)，这些指标是否真实可靠，有无不利于国家经济建设和企业发展的长远利益的短期行为等，既可以对责任者的工作进行正确评价，也能够揭示责任人与整个部门、单位的正当权益，有利于维护有关各方的合法经济权益。

          (五)监控财产的安全，促进部门、单位财产物资的保值增值

        财产物资是部门、单位进行各种活动的基础。内部审计通过对财产物资的经常性监督、检查，可以有效及时地发现问题，指出财产物资管理中的漏洞，并提出意见和建议，以促进或提醒有关部门加强财产物资管理，努力保证财产物资的安全完整并实现其保值、增值。 
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuFinanceBroker").addClass("active");
        $(".vmenu #menuInternalAudit").addClass("active");
    });
</script>
