@{
    ViewBag.Title = "行业特殊资质审批代理";
    Layout = "~/Views/Finance/_Layout.cshtml";
}

<article class="grid_10">
    <h3>行业特殊资质审批代理</h3>
        <pre>

        一、法律依据《中华人民共和国城市房地产管理法》、《城市房地产开发经营管理条例》(中华人民共和国国务院令第248号)、《房地产开发企业资质管理规定》(中华人民共和国建设部令第77号)。 二、各资质等级企业的条件如下：

        (一)一级资质：

        1、注册资本不低于6000万元人民币；

        2、从事房地产开发经营5年以上；

        3、近3年房屋建筑面积累计竣工30万平方米以上，或者累计完成与此相当的房地产开发投资额；

        4、连续5年建筑工程质量合格率达100％；

        5、上一年房屋建筑施工面积15万平方米以上，或者完成与此相当的房地产开发投资额；

        6、有职称的建筑、结构、财务、房地产及有关经济类的专业管理人员不少于40人，其中具有中级以上职称的管理人员不少于20人，持有资格证书的专职会计人员不少于4人；

        7、工程技术、财务、统计等业务负责人具有相应专业中级以上职称；

        8、具有完善的质量保证体系，商品住宅销售中实行了《住宅质量保证书》和《住宅使用说明书》制度；

        9、未发生过重大工程质量事故。

        (二)二级资质：

        1、注册资本不低于4000万元人民币；

        2、从事房地产开发经营3年以上；

        3、近3年房屋建筑面积累计竣工15万平方米以上，或者累计完成与此相当的房地产开发投资额；

        4、连续3年建筑工程质量合格率达100％；

        5、上一年房屋建筑施工面积10万平方米以上，或者完成与此相当的房地产开发投资额。

        6、有职称的建筑、结构、财务、房地产及有关经济类的专业管理人员不少于20人，其中具有中级以上职称的管理人员不少于10人，持有资格证书的专职会计人员不少于3人；

        7、工程技术、财务、统计等业务负责人具有相应专业中级以上职称；

        8、具有完善的质量保证体系，商品住宅销售中实行了《住宅质量保证书》和《住宅使用说明书》制度；

        9、未发生过重大工程质量事故。

        (三)三级资质：

        1、注册资本不低于1000万元人民币；

        2、从事房地产开发经营2年以上；

        3、房屋建筑面积累计竣工5万平方米以上或者累计完成与此相当的房地产开发投资额；

        4、连续2年建筑工程质量合格率达100％；

        5、有职称的建筑、结构、财务、房地产及有关经济类的专业管理人员不少于10人，其中具有中级以上职称的管理人员不少于5人，持有资格证书的专职会计人员不少于2人；

        6、工程技术、财务、统计等业务负责人具有相应专业中级以上职称，统计等其他业务负责人具有相应专业初级以上职称；

        7、具有完善的质量保证体系，商品住宅销售中实行了《住宅质量保证书》和《住宅使用说明书》制度；

        8、未发生过重大工程质量事故。
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuFinanceBroker").addClass("active");
        $(".vmenu #menuSpecialAudit").addClass("active");
    });
</script>
