@{
    ViewBag.Title = "代表处注册";
    Layout = "~/Views/Company/_Layout.cshtml";
}

<article class="grid_10">
    <h3>代表处注册</h3>
        <pre>

        注册成立外国企业常驻代表机构程序

        外国企业常驻代表机构设立登记，一般要经过以下步骤：
            第一步：按照业务性质，报北京市商务局或国务院相关主管委、部、局批准，取得《批准证书》；
            注：外国广告企业、医药类企业、贸易企业、制造企业、货运代理企业、承世企业、咨询企业、投资企业、租赁企业等不需报经有关部门审批，应直接到北京市工商行政管理局办理登记注册。
            第二步：领取登记表格；
        第三步：递交申请材料，材料齐全，符合法定形式的，等候领取《准予行政许可决定书》；
            第四步：领取《准予行政许可决定书》后，按照《准予行政许可决定书》确定的日期到工商局交费并领取营业执照。

        特别提请注意:
            在办理外国企业常驻代表机构登记注册时,如提交的文件、证件为外文,均应附中文译件。

        外国企业常驻代表机构登记应提交的文件、证件：
        (一)外国企业常驻代表机构设立登记应提交的文件、证件:
            1、《外国(地区)企业常驻代表机构设立登记表》(内含《代表机构基本情况》、《驻在地址证明》、《首席代表登记表》、《代表登记表》等表格)；
            2、国务院有关委、部、局或北京市商务局颁发的有效期以内(自签发之日起30日内)的《批准证书》原件；
            3、派出企业董事长或总经理签署的申请书(内含:常驻代表机构名称、驻在地点、首席代表及代表姓名、代表机构业务范围、驻在期限)；
            4、派出企业所在国(地区)登记机关颁发的合法开业证明复印件,其中香港特别行政区的有限公司需同时提交香港税务机关颁发的有效期以内的《商业登记证》复印件；
            5、与该派出企业有业务往来的金融机构出具的资信证明复印件；
            6、派出企业董事长或总经理签署的首席代表和代表授权书(或委任书)以及首席代表和代表简历(附各位代表的照片三张)。由中国公民担任首席代表或代表的,应提交外事服务单位出具的派遣函；
            7、《指定(委托)书》；
            8、《企业秘书(联系人)登记表》；
            9、金融、保险业除提交以上文件、证件外,还应同时提交派出机构的资产和损益年报、组织章程、董事会名单。

        (二)外国企业常驻代表机构延期登记应提交的文件、证件:
            《登记证》有效期为一年,驻在期内应每年办理一次延期登记。请您于《登记证》有效期满前30日内申请延期登记,提交以下文件、证件:
            1、《外国(地区)企业常驻代表机构变更(延期)登记申请书》；
            2、原《登记证》和《代表证》；
            3、《指定(委托)书》。

        (三)外国企业常驻代表机构延长驻在期登记应提交的文件、证件:
            常驻代表机构一次批准驻在期一般不超过三年(金融机构为六年),期满需继续常驻的,应于原批准机关批准后30日内,申请驻在期延期登记,提交以下文件、证件:
            1、《外国(地区)企业常驻代表机构变更(延期)登记申请书》(内含《代表机构变更(延期)登记申请表》、《驻在地址证明》)；
            2、原批准机关的《延期批准证书》原件；
            3、原《登记证》和《代表证》；
            4、《指定(委托)书》。

        (四)外国企业常驻代表机构变更登记应提交的文件、证件:
            1、《外国(地区)企业常驻代表机构变更(延期)登记申请书》；
            2、《指定(委托)书》；
            3、变更下列事项的,还需要提交以下文件、证件:
        变更地址:（1）《驻在地址证明》(2)原《登记证》和《代表证》。

            变更代表:(1)变更批准文件；(2)派出企业董事长或总经理签署的代表授权书或委托书(凡属接替原代表的,应说明原代表去留及任职情况)；(3)新任代表的简历、叁张照片及身份证明复印件；(4)变更代表应交回原代表的《代表证》,变更首席代表的同时交回原《登记证》；(5)由中国公民担任首席代表或代表的应提交外事服务单位出具的派遣函。

            变更名称:（1）变更批准文件；(2)派出企业所在国(地区)登记机关出具的派出企业名称变更的合法证明复印件；(3)原《登记证》、《代表证》。
        变更业务范围:(1)变更批准文件；(2)原《登记证》。

        (五)外国企业常驻代表机构注销登记应提交的文件、证件:
            1、《外国(地区)企业常驻代表机构注销登记申请书》；注册北京公司
            2、原中方承办(担保)单位或原批准机关同意注销的证明；
            3、税务、海关部门出具的税务清理完结的证明；
            4、原《登记证》、《代表证》；
            5、《指定(委托)书》。

        (六)外国企业常驻代表机构新聘雇员登记应提交的文件、证件:
            1、《雇员登记表》雇员及身份证复印件；
            2、外事服务单位的雇员派遣书；
            3、雇员一寸免冠正面近期照片二张。

        (七)雇员延期登记应当提交的文件、证件:
            1、聘用合同或外事服务单位出具的续聘证明；
            2、《雇员证》。

        (八)雇员注销登记应提交的文件、证件:
        《雇员证》。

        (九)因登记证或代表证丢失、损毁申请补发,应提交的文件、证件:（1）《指定(委托)书》；2、首席代表签署的情况说明；3、公开发行的报刊上登载执照挂失作废声明的报样；4、《增(减、补)证照申请表》。

        特别提请注意:
            1、建议在登记过程中不要更换被委托人。如被委托人发生变化,请重新提交《指定(委托)书》。
            2、(七)至(九)项雇员登记的文件、证件,应由雇员派遣单位统一向市工商局提交。
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuCompanyRegister").addClass("active");
        $(".vmenu #menuBranchRegister").addClass("active");
    });
</script>
