@{
    ViewBag.Title = "企业注销";
    Layout = "~/Views/Company/_Layout.cshtml";
}

<article class="grid_10">
    <h3>企业注销</h3>
        <pre>

        企业注销所需材料 	 
        1、《企业注销登记申请书》；
        2、《指定（委托）书》；
        3、依照《公司法》作出的决议或决定或行政机关责令关闭的文件或法院的破产裁定；
        4、股东会或有关机关确认的清算报告；
        5、三次注销公告报样（第一次公告之日起90日后，方受理您的注销申请）；
        6、税务部门出具的完税证明；
        7、《企业法人营业执照》正、副本。
        特别提请注意：
        建议在登记过程中不要更换被委托人。如被委托人发生变化，请重新提交《指定（委托）书》。

        提交申请材料目录：（注销）
        1、公司清算组负责人签署的《公司注销登记申请书》（公司加盖公章）
        2、公司签署的《指定代表或者共同委托代理人的证明》（公司加盖公章）及指定代表或委托代理人的身份证复印件（本人签字）应标明具体委托事项、被委托人的权限、委托期限3、清算组成员《备案确认通知书》
        4、依照《公司法》作出的决议或者决定有限责任公司提交股东会决议，股份有限公司提交股东大会决议。有限责任公司由代表三分之二以上表决权的股东签署，股东为自然人的由本人签字，自然人以外的股东加盖公章；股份有限公司由代表三分之二以上表决权的发起人加盖公章或者股东大会会议主持人及出席会议的董事签字确认国有独资有限责任公司提交出资人或出资人授权部门的文件一人有限责任公司提交股东的书面决定（股东为自然人的由本人签字，法人股东加盖公章）。
            以上材料内容应当包括：公司注销决定、注销原因、法院的裁定解散、破产的，行政机关责令关闭的，应当分别提交法院的裁定文件或行政机关责令关闭的决定因违反《公司登记管理条例》有关规定被公司登记机关依法撤销公司设立登记的，提交公司登记机关撤销公司设立登记的决定。
        5、经确认的清算报告
            有限责任公司提交股东会决议，股份有限公司提交股东大会决议。有限责任公司由代表三分之二以上表决权的股东签署，股东为自然人的由本人签字，自然人以外的股东加盖公章；股份有限公司由代表三分之二以上表决权的发起人加盖公章或者股东大会会议主持人及出席会议的董事签字确认
            国有独资有限责任公司提交出资人或出资人授权部门的文件
            一人有限责任公司提交股东的书面决定（股东为自然人的由本人签字，法人股东加盖公章）
        6、刊登注销公告的报纸报样
        7、法律、行政法规规定应当提交的其他文件
            国有独资公司申请注销登记，还应当提交国有资产监督管理机构的决定，其中，国务院确定的重要的国有独资公司，还应当提交本级人民政府的批准文件
            有分公司的公司申请注销登记，还应当提交分公司的注销登记证明
        8、《企业法人营业执照》
            提交复印件的，应当注明“与原件一致”并由股东加盖公章或签字
             以上需股东签署的，股东为自然人的，由本人签字；自然人以外的股东加盖公章

        提交申请材料目录：（备案）
        1、公司法定代表人签署的《公司备案申请书》（公司加盖公章）；
        2、公司签署的《指定代表或者共同委托代理人的证明》（公司加盖公章）及指定代表或委托代理人的身份证复印件（本人签字）
            应标明具体委托事项、被委托人的权限、委托期限。
        3、备案相关事项还需提交下列文件
        （1）公司章程变更备案：公司章程修正案（公司法定代表人签署）；
            法律、行政法规和国务院决定规定修改公司章程必须报经批准的，提交有关的批准文件或者许可证复印件；
        （2）董事、监事、经理变更备案：《公司董事、监事、经理情况表》、股东会决议或董事会决议或股东的书面决定或其他相关材料、新任董事、监事、经理身份证明；
            法律、行政法规和国务院决定规定修改公司章程必须报经批准的，提交有关的批准文件或者许可证复印件；

        （3）清算组备案：股东会决议或股东的书面决定；

        （4）分公司备案：分公司《营业执照》副本、撤销分公司的提交分公司的《准予注销登记通知书》、变更名称的提交分公司的《名称变更预先核准通知书》
            法律、行政法规和国务院决定规定公司设立分公司必须报经批准的，提交有关的批准文件或者许可证复印件；
        5、本局所发的全套登记表及其他材料；
        6、《企业法人营业执照》
            提交复印件的，应当注明“与原件一致”并由股东加盖公章或签字
             以上需股东签署的，股东为自然人的，由本人签字；自然人以外的股东加盖公章

        登记程序：（注销）
        审查→受理→决定

        登记程序：（备案）
        审查→受理→决定→发照

        登记依据：（注销）
        《中华人民共和国公司法》（2005年10月27日中华人民共和国主席令第42号修正发布）
        《中华人民共和国公司登记管理条例》（2005年12月18日国务院令第451号修正发布）

        登记依据：（备案）
        《中华人民共和国公司法》（2005年10月17日中华人民共和国主席令第42号修正发布）
        《中华人民共和国公司登记管理条例》（2005年12月18日国务院令第451号修正发布）
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuCompanyRegister").addClass("active");
        $(".vmenu #menuCompanyDestroy").addClass("active");
    });
</script>
