@{
    ViewBag.Title = "企业变更";
    Layout = "~/Views/Company/_Layout.cshtml";
}

<article class="grid_10">
    <h3>企业变更</h3>
        <pre>

        公司变更登记提交材料目录

        １、名称
        （１）法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
        （２）《企业（公司）申请登记委托书》（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
        （３）有限责任公司提交股东会决议，内容包括：决议事项、修改公司章程相关条款，由股东盖章或签字（自然人股东）；
        股份有限公司提交股东会决议内容包括：决议事项、修改公司章程相关条款，由发起人盖章或出席会议的董事签字。
        国有独资有限责任公司提交董事会决议，内容包括：决议事项、修改公司章程相关条款，由董事签字。
        （４）法律、行政法规规定变更名称必须报经有关部门批准的，提交有关部门的批准文件；
        （５）公司章程修正案；
　　　        有限责任公司由股东盖章或签字（自然人股东）；
　　　        股份有限公司由发起人盖章或出席会议的董事签字确认。
　　　        国有独资有限责任公司由投资人盖章。
        （６）公司营业执照副本复印件。
　　　　         注：依照公司登记管理条例设立的公司申请名称变更登记适用本规范。
　　　　         以上各项未注明提交复印件的一般均应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        ２、住所
　　        （１）法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
　　        （２）《企业（公司）申请登记委托书》（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
　　        （３）有限责任公司提交股东会决议，内容包括：决议事项、修改公司章程相关条款，由股东盖章或签字（自然人股东）；
　　        股份有限公司提交股东会决议内容包括：决议事项、修改公司章程相关条款，由发起人盖章或出席会议的董事签字。
　　        国有独资有限责任公司提交董事会决议，内容包括：决议事项、修改公司章程相关条款，由董事签字。
　　        （４）公司章程修正案；
　　　　         有限责任公司由股东盖章或签字（自然人股东）；
　　　　         股份有限公司由发起人盖章或到会董事签字；
　　　　         国有独资有限责任公司由投资人盖章。
　　        （５）法律、行政法规规定变更住所必须报经有关部门批准的，提交有关部门的批准文件；
　　        （６）新住所使用证明；
　　　　         自有房产提交产权证复印件；租赁房屋提交租赁协议原件或复印件以及出租方的产权证复印件；以上不能提供产权证复印件的，提交其它房屋产权使用证明复印件。
　　        （７）公司营业执照副本复印件。
　　　　         注：依照公司登记管理条例设立的公司申请住所变更登记适用本规范。
　　　　         以上各项未注明提交复印件的一般均应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        ３、法定代表人
　　        （１）公司法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
　　        （２）《企业（公司）申请登记委托书》（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
　　        （３）原任法定代表人的免职证明、新任法定代表人的任职证明；
　　　　         有限责任公司根据本公司章程的规定和程序，提交股东会决议或董事会决议等，股东会决议由股东盖章或签字（自然人股东），董事会决议由董事签字。
　　　　         股份有限公司提交董事会决议，由董事签字；
　　　　         国有独资公司提交投资人的指定文件。
　　        （４）《公司（企业）法定代表人登记表》（领取）；
　　　　         审查意见由作出决定的单位签署：有限责任公司由股东会或董事会等盖章或签字。
　　　　         股份有限公司由董事签字；
　　　　         国有独资公司由投资人盖章。
　　        （５）法律、行政法规规定变更公司法定代表人必须报经审批的，提交有关部门的批准文件；
　　        （６）公司营业执照副本复印件。
　　　　         注：依照公司登记管理条例设立的公司申请法定代表人变更登记适用本规范。
　　　　         公司法定代表人变更涉及公司董事调整的应按《公司董事、监事、经理备案提交材料规范》提交相应的备案材料，相同项目材料可以合并；
　　　　         以上各项未注明提交复印件的，一般应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        ４、注册资本
　　        （１）公司法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
　　        （２）《企业（公司）申请登记委托书》（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
　　        （３）有限责任公司提交股东会决议，内容应包括：增加／减少注册资本的数额、各股东具体承担的增加／减少注册资本的数额和出资方式，修改章程相关条款；由股东盖章或签字（自然人股东）；
　　        股份有限公司提交股东会决议，内容应包括：增加／减少注册资本的数额、各发起人具体承担的增加／减少注册资本的数额和出资方式，发起人认购以外增加的注册资本的增资方式，修改章程相关条款内容包括：决议事项、修改公司章程相关条款，由发起人盖章或董事签字。
　　        国有独资有限责任公司提交投资人对公司增加注册资本、修改公司章程相关条款的批准文件。
　　        （４）公司章程修正案；
　　　　         以实物、工业产权、非专利技术和土地使用权出资的，应当就实物、工业产权、非专利技术和土地使用权所有权转移的方式、期限在章程中做出明确的规定。
　　　　         有限责任公司章程修正案由股东盖章或签字（自然人股东）；
　　　　         股份有限公司章程修正案由发起人盖章或出席会议的董事签字；
　　　　         国有独资有限责任公司章程修正案由投资人盖章。
　　        （５）验资报告；
　　        （６）股份有限公司增加注册资本提交国家授权部门的批准文件；向社会公开募集的，还应提交国务院证券管理部门的批准文件；
　　        （７）法律、行政法规规定公司办理变更注册资本必须报经有关部门批准的，提交有关部门的批准文件。
　　        （８）公司减少注册资本的，提交在报刊刊登的减资公告（三次）和载明清算结果及债权债务处理方案的股东会决议；
　　        （９）公司营业执照副本复印件；
　　　　         注：依照公司登记管理条例设立的公司申请注册资本变更登记适用本规范。
　　　　         股份有限公司发起人持有的股份自公司成立之日起三年内不得转让。
　　　　         以上各项未注明提交复印件的，一般应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        ５、营业期限
　　        （１）法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
　　        （２）《企业（公司）申请登记委托书》。（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
　　        （３）有限责任公司提交股东会决议，内容包括：决议事项、修改公司章程相关条款，由股东盖章或签字（自然人股东）；
　　　　         股份有限公司提交股东会决议内容包括：决议事项、修改公司章程相关条款，由发起人盖章或出席会议董事签字。
　　　　         国有独资有限责任公司提交董事会决议，内容包括：决议事项、修改公司章程相关条款，由董事签字。
　　        （４）公司章程修正案；
　　　　         有限责任公司由股东盖章或签字（自然人股东）；
　　　　         股份有限公司由发起人盖章或出席会议的董事签字。
　　　　         国有独资有限责任公司由投资人盖章。
　　        （５）法律、行政法规规定变更经营期限必须报经有关部门批准的，提交有关部门的批准文件。
　　        （６）公司营业执照副本复印件。
　　　　         注：依照公司登记管理条例设立的公司申请营业期限变更登记适用本规范。
　　　　         以上各项未注明提交复印件的一般均应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        ６、经营范围
　　        （１）法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
　　        （２）《企业（公司）申请登记委托书》（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
　　        （３）有限责任公司提交股东会决议，内容包括：决议事项、修改公司章程相关条款，由股东盖章或签字（自然人股东）；
　　　　         股份有限公司提交股东会决议内容包括：决议事项、修改公司章程相关条款，由发起人盖章或出席会议的董事签字；
　　　　         国有独资有限责任公司提交董事会决议，内容包括：决议事项、修改公司章程相关条款，由董事签字确认。
　　        （４）增加的经营范围涉及法律、行政法规、国务院决定必须报经批准的项目的，提交有关部门的批准文件；
　　        （５）公司章程修正案；
　　　　         有限责任公司由股东盖章或签字（自然人股东）；
　　　　         股份有限公司由发起人盖章或出席会议的董事签字。
　　　　         国有独资有限责任公司由投资人盖章。
　　        （６）公司营业执照副本复印件。
　　　　         注：依照公司登记管理条例设立的公司申请经营范围变更登记适用本规范。
　　　　         以上各项未注明提交复印件的一般均应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        ７、类型
　　        （１）法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
　　        （２）《企业（公司）申请登记委托书》（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
　　        （３）按照拟变更公司类型的设立条件，提交相应的文件；
　　        （４）公司营业执照副本复印件。
　　　　         注：依照公司登记管理条例登记的公司适用于本规范。
　　　　         以上各项未注明提交复印件的一般均应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        ８、股东
　　        （１）法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
　　        （２）《企业（公司）申请登记委托书》（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
　　        （３）有限责任公司变更股东提交原股东会决议（内容包括：转让双方当事人、转让标的、数额，其他股东优先受让权力的行使情况等，由股东盖章或签字（自然人股东）；
　　　　         国有独资公司有限责任公司变更出资人提交国务院或者国务院授权的机构、部门转让出资的文件。
　　        （４）转让双方签署的股权转让协议；
　　        （５）有限责任公司变更股东提交新股东会决议（内容包括：新的股东会成立，修改公司章程，决定是否调整经营管理机构由股东盖章或签字（自然人股东）。
　　　　         股份有限公司变更股东提交新股东会决议（内容包括：新的股东会成立，修改公司章程，决定是否调整经营管理机构，由发起人盖章或者出席会议的董事签字）。
　　        （６）章程修正案；
　　　　         有限责任公司由股东盖章或签字（自然人股东）；
　　　　         股份有限公司由发起人盖章或出席会议的董事签字。
　　　　         国有独资有限责任公司由投资人盖章。
　　        （７）新股东或发起人股受让人或者国有独资有限责任公司出资人的法人资格证明或自然人身份证明；
　　　　         企业法人提交营业执照复印件；事业法人提交事业法人登记证书复印件；社团法人提交社团法人登记证复印件；民办非企业提交民办非企业证书复印件；自然人提交身份证复印件。
　　　　         变更后的股东或发起人股受让人是外商投资企业的，如公司的经营范围属于鼓励或允许外商投资的领域的，外商投资企业股东或发起人股受让人应提交：外商投资企业关于投资一致通过的董事会决议；外商投资企业的批准证书和营业执照复印件；法定验资机构出具的注册资本已经缴足的验资报告；外商投资企业经审计的资产负债表；外商投资企业缴纳所得税或减免所得税的证明；法律、行政法规及规章规定的其它材料。
　　　　         变更后的股东或发起人股受让人是外商投资企业的，如公司的经营范围属于限制外商投资的领域的，除外商投资企业股东或发起人股受让人应提交上述规定提交材料外：公司还应提交省级以上外经贸主管部门的批准文件。
　　        （８）法律、行政法规规定公司变更股东或发起人应报经审批的，提交有关部门的批准文件；
　　        （９）公司营业执照副本复印件。
　　　　         注：依照公司登记管理条例设立的公司申请股东、发起人变更或者股份转让的变更登记适用本规范。
　　　　         由于股东或发起人的变更而使公司登记事项、备案事项发生变更的，应按有关变更登记的规定提交相应的文件。
　　　　         以上各项未注明提交复印件的一般均应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        ９、有限责任公司股东或股份有限公司发起人改变姓名或者名称
　　        （１）　法定代表人签署的《公司变更登记申请书》（领取，公司加盖公章）；
　　        （２）　《企业（公司）申请登记委托书》（领取，公司加盖公章），应标明具体委托事项和被委托人的权限；
　　        （３）有限责任公司提交股东会决议，内容包括：根据股东或发起人名称或者姓名的变更相应地修改章程相关条款，由股东盖章或签字（自然人股东）；
　　　　         股份有限公司提交股东会决议内容包括：根据股东或发起人名称或者姓名的变更相应地修改章程相关条款，由发起人盖章或出席会议的董事签字。
　　　　         国有独资有限责任公司提交董事会决议，内容包括：根据出资人名称的变更相应地修改章程相关条款，由董事签字。
　　        （４）公司章程修正案；
　　　　         有限责任公司由股东盖章或签字（自然人股东）；
　　　　         股份有限公司由发起人盖章或出席会议的董事签字；
　　　　         国有独资有限责任公司由投资人盖章。
　　        （５）股东或者发起人变更名称或者姓名的有关证明文件；
　　　　         证明文件由企业登记机关出具。
　　        （６）变更后的股东法人资格证明或自然人的身份证明。
　　　　         股东为企业法人的提交营业执照复印件；股东为事业法人的事业法人登记证书复印件；股东为社团法人的提交社团法人登记证复印件；股东为民办非企业单位的，提交民办非企业证书复印件；股东是自然人的提交身份证复印件。
　　        （７）公司营业执照副本复印件。
　　　　         注：依照公司登记管理条例设立的有限责任公司申请股东、发起人或者出资人名称变更登记适用本规范。
　　　　         以上各项未注明提交复印件的一般均应提交原件；
　　　　         提交复印件的，应由公司加盖公章并署明与原件一致。
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuCompanyRegister").addClass("active");
        $(".vmenu #menuCompanyChanges").addClass("active");
    });
</script>


