@{
    ViewBag.Title = "外资公司注册";
    Layout = "~/Views/Company/_Layout.cshtml";
}

<article class="grid_10">
    <h3>外资公司注册</h3>
        <pre>
        
        电脑预核名称 当天
        办理商务局批复 5个工作日
        审批批准证书 5个工作日
        审批营业执照 5个工作日
        刻章 2-3个工作日
        审批企业代码 3个工作日
        税务登记 1个工作日
        银行开户 5个工作日
        外汇登记证 5个工作日
        财政登记 5个工作日
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuCompanyRegister").addClass("active");
        $(".vmenu #menuForeignCapitalRegister").addClass("active");
    });
</script>

