@{
    ViewBag.Title = "商标注册代理";
    Layout = "~/Views/Company/_Layout.cshtml";
}

<article class="grid_10">
    <h3>商标注册代理</h3>
        <pre>

        一、商标代理包成功说明

        我所代理的商标案件包成功，如该申请最终未通过国家商标局的初步审核并公告，我们承诺免代理费用重新为申请人申请一件新的商标；具体约定请参考《商标代理合同》。


        二、商标注册的流程

        商标查询----签订代理合同----交付材料和费用----我方制作相关文书并报送国家商标局----取得《受理通知书》和商标号（可以使用并在商标的右上角打出TM的标志）----国家商标局进入实质申请阶段----进入公告期----公告期满领取商标证书


        三、商标注册所需时间及费用

        时间：全部过程约需2年左右的时间;

        《商标受理通知书》的下发时间约为30日左右，如遇企业10日左右

        注：此时间为国家商标局的一般工作时间推算，在我国境内注册的商标都由国家工商总局商标局的统一核准方可获准注册，任何地方的组织和部门都不具此权利。

        费用：1600元/件

        其中国家商标局收取官方费用1000元，我方代理费用600元；


        四、商标申请所需要的准备材料

        1、企业营业执照副本复印件（如遇个人注册请提供身份证复印件和个体工商户营业执照，且要求是同一人）

        2、商标图样

        3、注册委托书（见下载中心）

        4、具体商品（依照《商品国际分类表》,可以选择10个商品，超出的部分，每增加一个商品国家商标局收取100元/个）


        五、我方的代理资质查询

        可登录中华人民共和国国家工商行政管理总局商标局的官方网站进行查询：

        链接地址如下：http://sbj.saic.gov.cn/sbsq/dljg.asp


        六、合同如何签定以及材料如何交付

        由于我们客户大多是全国各地的，所以在具体办理的时候（如签定合同，交付材料，交纳费用等）就会带来一些不便；为了方便业务的办理，我们提供如下的方式：

        1、 通过传真或者电子邮件等方式签定合同：

        具体方法：

        传真方式：

        在我司网站下载合同后打印并签章，然后传真至我公司，我方收到后会盖章并传至贵处。合同即可生效。

        电子邮件方式：

        打印合同后签章并扫描至电脑，通过邮件的方式发过来，我方盖章后再扫描后回复电子邮件，合同生效。

        快递方式：

        打印合同后签章并寄至我司地址，我方盖章后回寄贵处指定地址，合同即可生效。

        2、 交纳材料可以通过传真或者电子邮件的方式来实现：

        相关的材料可以直接传真也可以通过邮件发送

        3、 费用可以直接打款到我们指定的公司帐号。


        七、电子商务时代的知识产权代理

        随着电子商务时代的来临，知识产权代理工作已经有了天翻地覆的变化。原来由于地方办事处递交材料的不及时或延误而造成很多申请文件时间的滞后并带来无形的损失；现在完全的网络（传真）交接材料（签定合同）使得申请人可以通过我们直达国家审查机关，从而在申请时间的保留以及受理通知书的取得上得到进一步的加快。代理机构的合法性等问题也完全可以通过各工商部门的官网来查询验证。


        八、 保留商标（专利）申请日的重要性

        不管是在人民法院还是行政机关，对知识产权在先权利的界定都是以申请日为准的，所以尽可能的在最短的时间内保留申请日期就显得特别的重要；事实上很多申请人都是因为几天的时间晚于其它在先权利而导致自身权利的丧失并进一步引起侵权的嫌疑。


        九、 官方政策的及时领会对知识产权代理的重要性

        由于商标、专利以及版权的审查机关都在北京，及时的掌握各局即时政策以及审查意见的调整等就显得尤为重要……
        </pre>
</article>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu #menuCompanyRegister").addClass("active");
        $(".vmenu #menuMarkerRegister").addClass("active");
    });
</script>
