@{
    ViewBag.Title = "Home Page";
}

<h2>欢迎页面</h2>
<p>
    常用信息展示
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $("#aDashboardSection").addClass("current");
    });
</script>
